cffi==1.16.0
charset-normalizer==3.3.2
contourpy==1.2.1
cryptography==42.0.5
cycler==0.12.1
fonttools==4.53.1
kiwisolver==1.4.5
matplotlib==3.9.0
numpy==1.26.4
packaging==24.1
pandas==2.2.1
pdfminer==20191125
pdfminer.six==20231228
pillow==10.4.0
pycparser==2.22
pycryptodome==3.20.0
pyparsing==3.1.2
PyPDF2==3.0.1
PyPDF4==1.27.0
python-dateutil==2.9.0.post0
pytz==2024.1
seaborn==0.13.2
six==1.16.0
tzdata==2024.1
